{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Welcome to csDNA image analyzer</title>
    <link rel="stylesheet" href="{% static 'processor/css/styles.css' %}">
</head>

<body>
    <section class="landing-page">
        <div class="landing-page-container">
            <div class="landing-page-content">
                <h1>Welcome to <span class = "cs">cs</span><span class = "DNA">DNA</span> Image Analyzer</h1>
                <p>This website lets you analyze your DNA-Paint images</p>
                <button class = "shadow__btn"><a href="{% url 'image-upload' %}">Get Started</a></button>
            </div>
        </div>
    </section>
</body>

</html>